.Request-now-button{
    background-color:rgb(241, 39, 39);
    color:rgb(67, 59, 180);
    border:none;
    height:40px;
    width:105px;
    border-radius:2px;
    cursor:pointer;
    margin-right:8px; 
    transition: opacity 0.15s; 
   }

   .Request-now-button:hover{
     opacity:0.8;

   }
   .Request-now-button:active{
     opacity:0.4;  
   }
   .Add-to-cart-button{
     background-color:rgb(255, 216, 20);
     border-color:white;
     border-style:solid;
     border-width:1px;
     color:white;
     height:36px;
     width:90px;
     border-radius:2px;
     cursor:pointer;
     transition: background-color 1s,
     color 1s ; 
   }

   .Add-to-cart-button{
       background-color:blue;
       color:rgb(255, 216, 20);
   } 

   .Add-to-cart-button:active{
       opacity:0.7;
   }
   .sign-up-button{
       background-color:green;
       border-color:white;
       border-style:solid;
       border-width:1px;
       color:white;
       height:36px;
       width:90px;
       border-radius:2px;
       cursor:pointer;
       margin-right:30px;
   }
   .get-started-button{
       background-color:purple;
       border-color:white;
       border-style:solid;
       border-width:1px;
       color:white;
       border-radius:2px;
       cursor:pointer;
       margin-left:5px;
       transition:box-shadow 0.15s,
       color 0.15s;
       padding-left:30px;
       padding-top:10px;
       padding-bottom:10px;
       vertical-align:bottom;
   }

   .get-started-button:hover{
       box-shadow:5px 5px 10px rgba(0,0,0,0.15)
   }